/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #555;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    background-color: #555;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    padding: 0;
}

form {
    border: 1px solid #e0e0e0;
    padding: 20px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: darkslategray;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #555555;
    color: white;
    text-align: center;
    padding: 20px;
}
